
* /*GERAL Pagina Área Médica*/
{
    margin: 0;
    padding: 0;
}
.profissional /*HEADER PALAVRA PROFISSIONAL*/ 
{
    width: 190px;
    height: 40px;
    position: absolute;
    left: 275px;
    top: 20px;
    color: rgba(242, 201, 228, 0.58);
}
.perfil /*HEADER-Perfil*/
{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #FFC0CB;
    margin: 13px;
    cursor: point
}
.logo /*HEADER-Logo*/
{
    width: 13%;
}
nav /*HEADER-Nav Botões Início */
{
    background-color: #fff;
    box-shadow: 0 0 15px #afafaf;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
nav, ul /*HEADER-GERAL Lista Botões Início*/
{
    display: flex;
    flex-direction: row;
    list-style: none;
}
li
{
    padding: 0 5px;
}
:root /*VARIAVEIS-BTN*/
{
    --cor-hover-btn : #fdeaed;
    --cor-secundaria-btn : #FFC0CB;
}
.btn /*BTN-CONFIG GERAL*/
{
    background-color: transparent;
    color: #FFC0CB;
    border: none;
    cursor: pointer;
    transition: background .2s;
    font-size: 16px;
    height: 77px;
    width: 110px;
}
.btn-inicio /*BTN-INICIO*/
{
    outline: none;
}
.btn-inicio:hover 
{
    background-color: var(--cor-hover-btn);
}
.btn-inicio:active 
{
    color: #ffff;
    background-color: var(--cor-secundaria-btn);
}
.btn-sair /*BTN-AGENDAMENTO*/
{
    outline: none;
}
.btn-sair:hover
{
    background-color: var(--cor-hover-btn);
}
.btn-sair:active 
{
    color: #ffff;
    background-color: var(--cor-secundaria-btn);
}

body /* ------------------------------area médica agenda / home ------------------------------------------------------*/
{ 
    width: 1920px;
    height: 1460px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}
.caixa-degrade /* Caixa degrade boas vindas*/
{
    position: absolute;
    width: 1920px;
    height: 200px;
    left: 0px;
    top: 76px;
    background: linear-gradient(90deg, #EE65C7 4.54%, rgba(238, 101, 199, 0.33) 100.85%);
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.wName /* Dizeres de Bem vindo Dr.( + link) */
{
    position: absolute;
    width: 479px;
    height: 57px;
    left: 180px;
    top: 160px;
    font-family: 'Abhaya Libre';
    font-size: 48px;
    color: #FFFFFF;
}
.info-group
{
    box-sizing: border-box;
    position: absolute;
    width: 1800px;
    height: 990px;
    left: 23px;
    top: 330px;
    background: #FFFFFF;
    border: 5px solid #F185AD;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    flex-direction: row;
}

.caixa-fila-de-espera /* Fila de Espera */
{
    position: absolute;
    width: 600px;
    height: 100px;
    top: 7%;
    left: 55%;
    transform: translate(-50%, -50%);
}
.info-group .fila-de-espera .caixa-fila-de-espera .fila-de-espera /* Fila de Espera */
{
    font-family: 'Abhaya Libre';
    font-size: 36px;
    color: #EE65C7;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.info-group .fila-de-espera .caixa-fila-de-espera .contador-fila-de-epera /*Contador Fila Espera*/
{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    background: #FFFFFF;
    border: 8px solid #EE65C7;
}
.info-group .fila-de-espera .caixa-fila-de-espera .espera /* Numeral contador de pacientes na fila*/
{
    font-family: 'Abhaya Libre';
    font-size: 48px;
    color:#EE65C7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-group .paciente-confirmado .caixa-paciente-confirmado /* Rectangle 70 */
{
    width: 700px;
    height: 100px;
    text-align: right;
    position: absolute;
    top: 7%;
    left: 93%;
    transform: translate(-50%, -50%);
        
}
.info-group .paciente-confirmado .caixa-paciente-confirmado .pacientes /* Pacientes */
{
    font-family: 'Abhaya Libre';
    font-size: 36px;
    color: #EE65C7;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #EE65C7;
}
.info-group .paciente-confirmado .caixa-paciente-confirmado .contador-pacientes /*Circulo Contador Fila Espera*/
{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    background: #FFFFFF;
    border: 8px solid #EE65C7;
}
.info-group .paciente-confirmado .caixa-paciente-confirmado .contador-pacientes .confirmados /*Numeral Contador Fila Espera*/
{
    font-family: 'Abhaya Libre';
    font-size: 48px;
    color:#EE65C7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info-group .agenda .caixa-agenda /* Rectangle 69 */
{
    width: 600px;
    height: 100px;
    position: absolute;
    top: 7%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.info-group .agenda .caixa-agenda .agenda-do-dia /* Agenda do dia */
{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    position: absolute;
    top: 10px;
    left: 100px;
    flex-direction:column-reverse;
    color: #EE65C7;
}
.info-group .agenda .caixa-agenda .agenda-data /* Data  */
{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    position: absolute;
    top: 50px;
    left: 150px;
    flex-direction:column-reverse;
    color: #EE65C7;
}
.info-group .agenda .caixa-agenda .icon-calendar /* 🦆 icon "Calendar" */
{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 0px;
}
.caixa-hora1
{
    position: absolute;
    width: 800px;
    height: 65px;
    font-family: 'Abhaya Libre';
    font-size: 36px;
    background: #F185AD;
    opacity: 50%;
    padding: 0px 30px;
    border-radius: 10px;
}
.caixa-hora2
{
    position: absolute;
    width: 800px;
    height: 65px;
    font-family: 'Abhaya Libre';
    font-size: 36px;
    padding: 0px 30px;
    background: #F185AD80;
    opacity: 50%;
    border-radius: 10px;
}
#h800
{
    left: 50px;
    top: 500px;
}
#h830
{
    left: 50px;
    top: 575px;
}
#h900
{
    left: 50px;
    top: 650px;
}
#h930
{
    left: 50px;
    top: 725px;
}
#h1000
{
    left: 50px;
    top: 800px;
}
#h1030
{
    left: 50px;
    top: 875px;
}
#h1100
{
    left: 50px;
    top: 950px;
}
#h1130
{
    left: 50px;
    top: 1025px;
}
#h1200
{
    left: 50px;
    top: 1100px;
}
#h1230
{
    left: 50px;
    top: 1175px;
}
#h1330
{
    left: 930px;
    top: 500px;
}
#h1400
{
    left: 930px;
    top: 575px;
}
#h1430
{
    left: 930px;
    top: 650px;
}
#h1500
{
    left: 930px;
    top: 725px;
}
#h1530
{
    left: 930px;
    top: 800px;
}
#h1600
{
    left: 930px;
    top: 875px;
}
#h1630
{
    left: 930px;
    top: 950px;
}
#h1700
{
    left: 930px;
    top: 1025px;
}
#h1730
{
    left: 930px;
    top: 1100px;
}
#h1800
{
    left: 930px;
    top: 1175px;
}

